*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    
}




body{
    background: #000 !important;
    color: #fff;
    
}

.main{
    
    
    background-image:linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)),url("images/netbackimg.jpg");
    background-repeat: none;
    background-position: center center;
    background-size: max(1200px,100vw);
    height: 70vh;
    position: relative;
}


.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.1;
    position: absolute;
    top: 0;
    background-color: black;
}



nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}


nav img{
    width: 100px;
}


.centering{
    height: 100% !important;
    align-items: center !important;
    display: flex !important;
    justify-content:center !important;
    flex-direction: column !important;
}

.hero{
    height:calc( 100%-62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding:0  30px;
    

}

.hero> :first-child{
    font-size: 2.3rem;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation{
    height: 7px;
    background-color: rgb(75, 73, 73);
}


.btn{
    padding: 3px 8px;
    background-color: white;
    font-weight: bold;

}

.btn-red{
    background-color: red;
}

.eng-btn{
    display:inline-flex;
    align-items: center;
    background: transparent;
    border: .1px solid white;
    padding: 7px 10px;
    width: 100px;
    font-size: 14px;
    justify-content: center;
    color: white;
    border-radius: 4px;
    height: 29px;
    
}

.sign-btn{
    background-color: red;
    color: white;
    border-radius: 4px;
    width: 80px;
    height: 30px;
}

.btn-red{
    color: white;
    text-align: center;
    background-color: red;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    outline: 0;
    border: 0;
}

.email{
    width:200px;
    height: 30px;
    background: transparent;
    color: rgb(88, 84, 84);
    border: .5px solid rgb(84, 84, 84);
    padding-left: 5px;
    border-radius: 4px;


}

.first{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}


@media screen and (max-width:1300px) {
    
    .hero .emailbtn{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

    .emailbtn button{
        margin-top: 15px;
    }
    
    .first{
        flex-wrap: wrap;
    }
    
    .secimg img{
        width: 400px;
    }


    .hero{
        margin-top: 50px;
    }

    .hero> :first-child{
        font-size: 20px;
        
    }
    
    .hero> :nth-child(2){
        font-weight: 400;
        font-size: 16px;
        
    }
    
    .hero> :nth-child(3){
    
        font-size: 16px;
        
    }
    .imgtwodis{
        display: none;
    }

    
    
    section.first > div :first-child{
        font-size: 20px !important;
        font-weight: bolder;
    }
    
    section.first > div :nth-child(2){
        font-size: 16px !important;
    
    }



}


@media screen and (max-width:490px){
    

    .secimg img{
        width:300px !important;
    }
    .btnn{
        display: none;
    }

    .faqbox{
        font-size: 16px !important;
    }

    .faqbox{
        
        padding: 14px !important;
        
    }

    .centering{
        margin-top: 0;
    }

}


section{
    background: #000;
}

.secimg{
    width: 455px;
    
}

.secimg img{
    width: 455px;
}

.section.first > div{
    display: flex;
    flex-direction: column;
}

section.first > div :first-child{
    font-size: 3rem;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: 24px;

}




.faq{
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqbox:hover{
    background-color: rgb(42, 41, 41);

}


.faq h2{
    text-align: center;

}

.faqbox{
    background: black;
    color:white;
    padding: 34px;
    

}

.fa{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55vw;
}

.faqbox{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 24px;
    width: 100%;
    margin:34px  34px 0 34px;
}

.dropdown{
    
    width: 100%;
    margin: 1px  34px 0 34px;
    background-color: gray;
    padding:24px;
    display: none;
    max-height: 0;

}

.dropdown.open{
    max-height: 300px;
    display: block;
    
}

.dropdown2{
    width: 100%;
    margin: 1px  34px 0 34px;
    background-color: gray;
    padding:24px;
    display: none;
    max-height: 0;
}
.dropdown2.open{
    max-height: 300px;
    display: block;
    
}

.dropdown3{
    width: 100%;
    margin: 1px  34px 0 34px;
    background-color: gray;
    padding:24px;
    display: none;
    max-height: 0;
}
.dropdown3.open{
    max-height: 300px;
    display: block;
    
}

.dropdown4{
    width: 100%;
    margin: 1px  34px 0 34px;
    background-color: gray;
    padding:24px;
    display: none;
    max-height: 0;
}
.dropdown4.open{
    max-height: 300px;
    display: block;
    
}

.dropdown5{
    width: 100%;
    margin: 1px  34px 0 34px;
    background-color: gray;
    padding:24px;
    display: none;
    max-height: 0;
}

.dropdown5.open{
    max-height: 300px;
    display: block;
    
}



.bor{
    border: 1 px solid white !important;
}


/* .eng-btn {
    width: 14px;
    margin-left: 10px;
} */

/* .logo{
    width: 150px;
    cursor: pointer;
}

nav button{

    border: 0;
    outline:0 ;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.eng-btn{
    
    
}



.sign-btn{
    font-size: 14px;
}

.header-content{
    margin-top: 45px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.header-content h1{
    font-size: 45px;
    font-weight: 900;
    width: 1200px;
}
.header-content h3{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: 400;
}

.header-content p{
    font-size: 22px;
    margin-bottom: 15px;
}


.email{
    height: 50px;
    width: 370px;
    background: transparent;
    border-radius: 4px;
    border: .5px solid white;
    font-weight: 700;
    margin-right: 8px;
    
}

.email-signup input{
    padding-left: 10px;
}

.get-btn{
    width: 200px;
    height: 56px;
    background: #db0001;
    color: white;
    font-size:25px;
    font-weight: 500;
    outline: 0;
    border: 0;
    border-radius: 5px;
}
.email-signup{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gap{
    height: 7px;
    background-color: rgb(46, 45, 45);
}
.features{
    
    
}

.row{
    
    display: flex;
    padding: 80px 0;
}

.text-col{
    width:50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}
.text-col p{
    font-size: 50px;
    width: 80%;
    font-weight: 700;
    padding-bottom: 20px;
}

.text-col a{
    
    font-size: 25px;
    width: 80%;
}

.img-col{
    width:50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.row-img{
    width: 75%;
    padding-left: 100px;
}

.faq{
    font-size: 45px;
    font-weight: 900;
    padding: 20px;
    text-align: center;
}

.faqbox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    width:80%;
    height: 84px;
    background-color:rgb(69, 67, 67);
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.box a{
    padding-left: 20px;
    font-size: 25px;
    
}

.box i{
    padding-right: 20px;
    scale: 180%;
}

.base{
    padding: 60px;
    text-align: center;
}
.base p{
    font-size: 20px;
    padding-bottom: 30px;
}



.foot-compo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 70px 0;
}

footer u{
    padding: 10px 0;
    display: block;
}

.foot-btn{
    color: #fff;
    background-color: #000;
    margin-left: 130px;
    border: 1px solid white;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.foot-btn img{
    width: 8px;
    padding-left: 14px;
}

.foot-butn{
    padding-left: 150px;
    padding-bottom: 30px;
} */



